/* Base styles */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;

    /* Added to center the columns*/
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

/* Header styles */
header {
    background-color: #1b1071;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Column styles */
.column {
    float: left;
    width: 30%;
    margin: 1.66%;
    background-color: #c5bdff;
    padding: 10px;

    /* Added this to add visible border*/
    border: 3px solid #1b1071;
    border-radius: 10px;
}

.column-image {
    position: relative;
}

.column-army-image img {
    width: 25%;
    border-radius: 10px;
}

.column-image img {
    width: 100%;
    border-radius: 10px;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries */
@media (max-width: 768px) {
    .column {
        width: 100%;
        float: none;
        margin: 0 0 20px 0;
    }
}

/* Grid styles */
.row {
    overflow: hidden;
}

/* Post styles */
.post img {
    float: left;
    width: 50%;
    margin-right: 10px;
}